

.backGround {
  position: relative; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


.backGround::before {
  content: '';
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/louvre.jpg');
  background-size: cover;
  filter: blur(3px);    /* Add the blur effect */
  z-index: -1;      /* Place the background behind the content */
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* page of intro */
.sliding-images-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40%;
  overflow: hidden;
}


.sliding-images {
  background: url("/public/image-slide.jpg");
  background-size: cover;
  position: relative;
  left: 0;
  top: 0;
  height: 300px;
  width: 4080px;
  animation: slideshow 20s linear infinite;
}

@keyframes slideshow {
  100% { 
    -webkit-transform: translateX(-58.8%);  
  }
}


.start-container {
  position: fixed;
  top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}



.start-title {
  font-size: 48px;
  color: #62107bd4; 
  margin-bottom: 60px;
  font-weight: bold;
}

.intro-box {
  width: 100%;
  padding: 20px;
  background-color: rgba(102, 97, 97, 0.395);   
  text-align: center;
  overflow-y: auto;
  word-wrap: break-word;
  margin-bottom: 60px;
}

.intro-content {
  font-size: 20px;
  color: #1f1e1e;
}

.buttonStart {
  width: 150px;
  height: 45px;
  font-size: 24px;
  color: rgb(43, 39, 39);
  background-color: #2662ab8b;
  border: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.buttonStart:hover {
  background-color: #4a50c4c9; 
}


.choice-button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80%;
  height: 100%;
}


.choice-button-easy {
  width: 200px;
  height: 60px;
  font-size: 32px;
  text-align: center;
  color: rgb(83, 79, 79);
  background-color: #4cc26fa4;
  border: none;
  margin: 20px 5px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  transition: background-color 0.3s;
}

.choice-button-easy:hover {
  background-color: #45a049; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.choice-button-medium {
  width: 200px;
  height: 60px;
  font-size: 32px;
  text-align: center;
  color: rgb(83, 79, 79);
  background-color: #2f7fca7c;
  border: none;
  margin: 20px 5px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  transition: background-color 0.3s;
}

.choice-button-medium:hover {
  background-color: #245e94c9; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.choice-button-hard {
  width: 200px;
  height: 60px;
  font-size: 32px;
  text-align: center;
  color: rgb(83, 79, 79);
  background-color: #c26f4c86;
  border: none;
  margin: 20px 5px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  transition: background-color 0.3s;
}

.choice-button-hard:hover {
  background-color: #b95930bf; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}



/* page of game */
h1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent; 
  color: rgb(34, 33, 33); 
  padding: 10px 0; 
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.row {
  margin-bottom: 20px; 
}

.answer {
  font-size: 20px; 
  color: #824141; 
  /*margin-bottom: 10px; */
  font-weight: bold;
}

.inputCustom {
  font-size: 20px;
  background-color: transparent; 
  border: none; /* remove border */
  border-bottom: 1px solid black; /* add a bottom border */
  color: black; /* color of words */
  outline: none;
  text-align: center; 
}

.inputCustom::placeholder {
  font-size: 20px;
  background-color: transparent; 
  border: none; /* remove border */
  color: rgb(75, 74, 74); /* color of words */
  outline: none; 
  text-align: center;
}


.button {
  width: 120px; 
  height: 30px; 
  font-size: 16px; 
  color: rgb(49, 47, 47); /* color of words */
  background-color: #f1eef434; 
  border: none; /* remove border */
  border-radius: 5px; /* set border radius */
  cursor: pointer; /* change cursor to pointer */
  transition: background-color 0.3s; /* add the transition effect */
}

.button:hover {
  background-color: #e5eaf0e9; /* change background color when hover */
}

.buttonHint {
  font-size: 16px; 
  color: rgb(49, 47, 47);
  margin-top: 5px; 
  background-color: #f1eef434;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonHint:hover {
  background-color: #e5eaf0e9;  
}

.score-box {
  position : fixed;
  top: 85%;
  left: 35%;
  width : 28%;
  height : 5%;
  border-radius: 10px; 
  background-color: rgba(255, 255, 255, 0.232); 
  padding: 20px; 
  overflow-y: auto;
  word-wrap: break-word;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.score-box.visble {
  position : fixed;
  top: 85%;
  left: 35%;
  width : 28%;
  height : 5%;
  border-radius: 10px; 
  background-color: rgba(255, 255, 255, 0.232); 
  padding: 20px; 
  overflow-y: auto;
  word-wrap: break-word;
  opacity: 1;
}

.scoreround {
  font-size: 20px; 
  color:  #824141;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

.ranking-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%; /* 20% of the screen width */
  height: 100vh; /* 100% of the screen height */
  background-color: rgba(54, 51, 51, 0.1); 
  display: flex;
  flex-direction: column;
}

.ranking-title {
  text-align: center;
  font-size: 24px;
  padding: 20px 0;
}

.ranking-list {
  flex: 1;
  overflow-y: auto; /* if the content is too long, add a scrollbar */
}

.ranking-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc; /* add a bottom border */
}

.ranking-item:last-child {
  border-bottom: none; /* remove the bottom border for the last item */
}

.user-rank {
  background-color: transparent; 
  font-weight: bold; 
  color: #ce1eb4;
}

.fade-out {
  transition : opacity 0.3s ease-out; /* add the transition effect */
  opacity: 0; /* set the opacity to 0 */
}

.extraInfor{
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background-color: rgba(182, 178, 178, 0.277);
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.extraInfor.visible{
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background-color: rgba(182, 178, 178, 0.277);
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.infor-title {
  text-align: center;
  font-size: 24px;
  padding: 20px 0;
}

.inforcontent {
  font-size: 16px;
  padding: 10px 20px;
  /*color: #1f1e1e;*/
  overflow-y: auto;
}

.exit-button {
  position: fixed;
  right: 25px;
  top: 90%;
  width: 100px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  color: rgb(43, 39, 39);
  background-color: #15bc2cb0;
  border: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.exit-button:hover {
  background-color: #3dc613; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
